.par{
			margin-left: 200px 30px;
			padding:10px;
			border: 10px;
		}
		.par{
			font-size: 76px;
			background-color: rgb(2, 330, 40);
			
		}
		body{
			background-image: url('../super.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			color: black;
		}
			.nav{
 				list-style-type:none;
 				margin: 0;
 				padding: 0;
 				background-color: #aaaaaa;
 				overflow: hidden;
 			}
 			li{
 				float: left;
 			}
 			li A{
 				padding: 16px;
 				text-decoration: none;
 				color: black;
 				display: block;
 				text-align: center;
 			}
 			li A:hover{
 				background-color: #111111;
 			}

		#new{
			font-weight: 800;
			font-size: 40px;
			background-color: blue;
		}
		.red{
			color: red;
		}
		.blue{
			color: blueviolet;
		}
		.full-width{
			width: 100%;
		}
		.twohun{
			height: 700px;
			width: 700px;
		}
		.back{
			background-image:  url('super.jpg');
			background-color: mediumaquamarine;
			float: center;
			text-align: center;
			font-size: 25px;

		}
button{
	color: black;
	background-color: lightskyblue;
	font-size: 20px;
	cursor: pointer;
}